<body>
    <div class="container">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 mt-5">
                <h5>Load up on supplies before you hit the road</h5>
    
    <h2>${{this.cash}}</h2>
    
    <form [formGroup]="this.playerService.suppliesForm">
        <label for="burritos">Burritos $5 each: </label>
        <input type="number" formControlName="burritos">
        <br>
        <label for="jerky">Beef Jerky $5 each: </label>
        <input type="number" formControlName="jerky">
        <br>
        <label for="nachos">Nachos $5 each: </label>
        <input type="number" formControlName="nachos">
        <br>
        <label for="sardines">Sardines $5 each: </label>
        <input type="number" formControlName="sardines">
        <br>
        <label for="shirts">Merchandise (t-shirts) $10 each: </label>
        <input type="number" formControlName="shirts">
        <br>
        <button (click)="onSubmit()">Submit</button>
    </form>
    <div *ngIf="this.valid === false">
    <h4 style="color:red">Not enough cash bruh</h4>
    
    </div>
            </div>
            <div class="col-1"></div>
        </div>
    </div>
    
    
    </body>
