
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm">
        <form class="mt-5" [formGroup]="this.playerService.form" >
          <label for="name">Name: </label>
          <input type="text" formControlName="name">
          <button (click)="onSubmit()">Submit
            
          </button>
      </form>
      <div *ngIf="this.error ===true">
      <h2>You gotta name your bandmate brah</h2>
    </div>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>


</body>