
<body>
    <div class="container">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
<label class="mt-5" id="example-radio-group-label">Select Your Band Type</label>
<form [formGroup]="this.playerService.selectTypeForm">
<mat-radio-group formControlName="type"  aria-label="Select an option">
    <br>
    <mat-radio-button value="pop">Pop</mat-radio-button>
    <p>Easy - Start with $1000</p>
    <br>
    <mat-radio-button value="ska"  >Ska</mat-radio-button>
    <p>Medium - Start with $500</p>
    <br>
    <mat-radio-button value="gut" >Gutter</mat-radio-button>
    <p>Hard - Start with $100</p>
  </mat-radio-group>
  <br>
  <div *ngIf="this.error===true">
    <h2>You hafta pick something</h2>
  </div>
  <section>
  
    <div class="example-button-row">
      <button (click)="onSubmit()" mat-button>Select</button>
    </div>
    
  </section>
</form>
<br>
<img style="width: 70%" src="../../assets/images/b2.png" alt="Cool band">
</div>
<div class="col-1"></div>
</div>
</div>
</body>