@import '~bootstrap/dist/css/bootstrap.min.css'; 

@font-face{
    font-family: arcade; 
    src:url(../../assets/fonts/ARCADE_N.TTF) format("opentype"); 
}


*, h2{
    font-family: 'arcade';

}

body{
    background-color: darkgrey;
}

.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
  }


button{
  background-color: darkgreen; 
}