<body>
  <div class="container">
    <div class="row">
      <div class="col-sm"></div>
      <div class="col-sm">

     
        <form class="mt-5" [formGroup]="this.playerService.addPlayerTwoForm" >
            <label for="name">What's the name of the second band member? </label>
            <input type="text" formControlName="two">
            <button (click)="onSubmit()">Submit
              
            </button>
        </form>
        <br>
        <img style="height: 600px" class="mt-5" src="../../assets/images/dog.png" alt="">
        <div *ngIf="this.error ===true">
          <h2>You gotta name your bandmate brah</h2>
        </div>
      </div>
      <div class="col-sm"></div>
    </div>
  </div>
</body>



