
<body>
    

<div class="container" >

  
    <div class="row mt-5">
        <div class="col-sm"></div>
        <div class="col-sm">
            <p class="mt-5">Press Start to Begin</p>
            <button style="position: relative;" (click)="start()">Start</button>
            
            
    <div class="mt-5" *ngIf="this.newUser === false">
        <p>Pick up where you left off?</p>
        <button (click)="resume()">Resume</button>
        </div>
            
        </div>
        <div class="col-sm"></div>

    </div>
    </div>

</body>



