
<body>
    

<div class="container" >

  
    <div class="row ">
        <div class="col-2"></div>
        <div class="col-8">
            <h3 class="mt-5">Ready to go on tour?</h3>
            <br><br>
            <p class="mt-5">Press Start to Begin</p>
            <button style="position: relative;" (click)="start()">Start</button>
            
            
    <div class="mt-5" *ngIf="this.newUser === false">
        <p>Pick up where you left off?</p>
        <button (click)="resume()">Resume</button>
        </div>
           
        </div>
        <div class="col-2"></div>

    </div>
    </div>

</body>



