@import '~bootstrap/dist/css/bootstrap.min.css'; 

@font-face{
    font-family: arcade; 
    src:url(../../assets/fonts/ARCADE_N.TTF) format("opentype"); 
}


*, h2, h3, p{
    font-family: 'arcade';

}

body{
    background-color: darkgrey;
}