<body>
    <div class="container">
      <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">

          <form  class="mt-5" [formGroup]="this.playerService.addPlayerFourForm" >
              <label for="name">Name of fourth player: </label>
              <input type="text" formControlName="four">
              <button (click)="onSubmit()">Submit
                
              </button>
          </form>
        </div>
        <div class="col-sm"></div>
      </div>
    </div>
  </body>
  