<body>
    <div class="container">
      <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
          <table>
            <thead>
              <th>Name the fourth player</th>
        
            </thead>
            <tbody>
              <tr >
                <td></td>
                <td> 
                </td>
              </tr>
            </tbody>
          </table>
          <form [formGroup]="this.playerService.addPlayerFourForm" >
              <label for="name">Name: </label>
              <input type="text" formControlName="four">
              <button (click)="onSubmit()">Submit
                
              </button>
          </form>
        </div>
        <div class="col-sm"></div>
      </div>
    </div>
  </body>
  